.tool-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 100vw;
    background: transparent;
    position: fixed;
    top: 0;
    z-index: 999;
}

.button-basic{
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
    border: none;
    margin-inline: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-active{
    box-shadow: 0px 2px 4px #333;
}
.button-special{
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #333;
    background: white
}
.brush-container, .eraser-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.brush-container{
    width: 60%;
}
.shapes{
    position: fixed;
    bottom: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
}
.canvas-change{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 5px;
}
